@page "/"

<PageTitle>Home</PageTitle>


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5><strong>About Me</strong></h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Author:</strong> Trần Hoàng Khải</p>
                    <p class="card-text"><strong>Project:</strong> project_1</p>
                    <p class="card-text">
                        <strong>Github:</strong>
                        <a href="https://github.com/tranhoangkhai1506/tranhoangkhai_project1_tksolution.git" target="_blank">tranhoangkhai_project1_tksolution</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

